.modelview {
}
.modelview .modelview-header h1 {
	font-size: 16px;
	margin: 0;
	display: inline-block;
	line-height: 30px;
	padding-right: 10px;
}
.modelview table {
	margin: 0;
	width: 100%;
}

.modelview .modelview-header {
	overflow: hidden;
}
.modelview .modelview-header h1,
.modelview .modelview-header .btn-group,
.modelview .modelview-search {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.modelview .modelview-search {
	float: right;
}
a.modelview-delete:hover {
	color: red;
}
.dropdown-menu li > a.modelview-delete:hover {
	background-color: red;
	background-image: none;
}
.modelview .modelview-single-actions {
	text-align: right;
}
.modelview .modelview-single-actions i {
	color: #444;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.modelview .modelview-row:hover > .modelview-single-actions i {
	opacity: 1;
}
.modelview .modelview-single-actions .dropdown-menu {
	z-index: 50;
	min-width: auto;
}
.modelview .modelview-single-actions:hover .dropdown-menu {
	display: block;
}
.modelview > .modelview-footer .modelview-multiactions {
	overflow: hidden;
	width: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	white-space: nowrap;
	margin-right: 0;
}
.modelview.modelview-has-selection > .modelview-footer .modelview-multiactions {
	width: auto;
	opacity: 1;
	margin-right: 10px;
}
.modelview > .modelview-footer .modelview-multiactions select {
	width: auto;
}
.modelview-footer {
	overflow: hidden;
	padding-top: 5px;
}
.modelview-footer .form-inline {
	float: left;
	display: inline-block;
	position: relative;
}
.modelview-pager {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin: 0;
}
.modelview-footer > span {
	line-height: 30px;
	display: inline-block;
	vertical-align: top;
	color: #aaa;
}
.modelview thead {

}
.modelview .modelview-col-select {
	display: none;
}
.modelview tr.modelview-row:hover,
.modelview tr.modelview-row:hover + .modelview-subrow,
.modelview tr.modelview-row.hover,
.modelview tr.modelview-row.hover + .modelview-subrow {
	background-color: rgba(0,0,0,0.02);
}
.modelview tr.modelview-row {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.modelview tr.ui-sortable-placeholder {
	border: none;
}
.modelview tr.modelview-subrow {
	border-bottom: 1px solid #ddd;
	border-top: hidden;
}
.modelview tr.ui-sortable-helper td,
.modelview tr.modelview-selected td {
	border-top: 1px solid #FF7200;
	border-bottom: 1px solid #FF7200;
	background-color: #ffe7d3 !important;
}
.modelview th, .modelview td {
	padding: 8px;
}
.modelview.modelview-condensed th,
.modelview.modelview-condensed td {
	padding: 4px;
}
.modelview thead th {
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
}
.modelview .inline-wrapper {
	position: relative;
	background-color: rgba(0,0,0,0.02);
	border-left: 10px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 20px 10px 10px;
}
.modelview .inline-wrapper-hide {
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}
.modelview .inline-close {
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 1;
	text-decoration: none;
}
.modelview .inline-content > td {
	background-color: transparent;
	padding: 0;
}
.modelview .inline-content:last-child > td {
	border-bottom: 1px solid #ddd;
}
.modelview .inline-content form {
	margin-bottom: 0;
}
.modelview .inline-content .zend_form {
	padding: 0;
	background-color: transparent;
}
.modelview .inline-content .modelview .modelview-header h1 {
	font-size: 16px;
	font-weight: bold;
}
.modelview .modelview-pager ul {
	display: block;
}
.modelview .modelview-no-hits {
	text-align: center;
	color: #888;
	font-style: italic;
	background-color: #f5f5f5;
	height: 100px;
}
/* sorting indicators for modelview list column titles */
.modelview-param.sortable {
	background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%229%22%20width%3D%2221%22%3E%3Crect%20id%3D%22backgroundrect%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22none%22%20stroke%3D%22none%22/%3E%0A%20%20%20%20%0A%3Cg%20class%3D%22currentLayer%22%3E%3Ctitle%3ELayer%201%3C/title%3E%3Cpath%20d%3D%22M14.5%205l-4%204-4-4zM14.5%204l-4-4-4%204z%22%20id%3D%22svg_1%22%20class%3D%22selected%22%20fill-opacity%3D%221%22%20fill%3D%22%23ff6c00%22/%3E%3C/g%3E%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 21px;
}
.modelview-param.sortable.sort-asc {
	background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%224%22%20width%3D%2221%22%3E%3Crect%20id%3D%22backgroundrect%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22none%22%20stroke%3D%22none%22/%3E%0A%20%20%20%20%0A%3Cg%20class%3D%22currentLayer%22%3E%3Ctitle%3ELayer%201%3C/title%3E%3Cpath%20d%3D%22M6.5%204l4-4%204%204z%22%20id%3D%22svg_1%22%20class%3D%22selected%22%20fill-opacity%3D%221%22%20fill%3D%22%23ff6c00%22/%3E%3C/g%3E%3C/svg%3E);
}
.modelview-param.sortable.sort-desc {
	background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%224%22%20width%3D%2221%22%3E%3Crect%20id%3D%22backgroundrect%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22none%22%20stroke%3D%22none%22/%3E%0A%20%20%20%20%0A%3Cg%20class%3D%22currentLayer%22%3E%3Ctitle%3ELayer%201%3C/title%3E%3Cpath%20d%3D%22M14.5%200l-4%204-4-4z%22%20id%3D%22svg_1%22%20class%3D%22selected%22%20fill-opacity%3D%221%22%20fill%3D%22%23ff6c00%22/%3E%3C/g%3E%3C/svg%3E);
}